{% extends 'base.html' %}

{% block title %} Choose a letter {% endblock %}


{% block content %}



<div class"row">
    <div class="col-xs-12 text">
        </span><h2> is_letter_in_the_word_message goes here!</h2>
        <br>
        <br>
        <br>
        </span><h2>Letters you have tried that are not in the word: list_of_letters_will_go_here</h2>
        <br>
        <br>
        <br>
        </span><h2>You have {{ remaining_guesses }} guesses remaining.</h2>
        <br>
        <br>
        <br>
    </span><h2>Choose another letter:</h2>
        <br>
        <br>
        <br>
    <form action='/choose_letter'>
    <div class='forms'>
    <input type='text' letter='letter'>
    <input type='submit' />
        <br>
        <br>
        <br>
    </div>

</div>


{% endblock %}
