{% extends 'base.html' %}

{% block title %} Choose a letter {% endblock %}


{% block content %}



<div class"row">
    <div class="col-xs-12 text">
        </span><h3> {{ message }}</h3>
        <br>
        <br>
        </span><h3>Letters you have tried that are not in the word: {{ wrong_guesses }}</h3>
        <br>
        <br>
        </span><h2>Here are your correct guesses: {{ right_guesses }}</h2>
        <br>
        <br>
        </span><h3>You have {{ remaining_guesses }} guesses remaining.</h3>
        <br>
        <br>
    </span><h3>Choose another letter:</h3>
        <br>
        <br>
    <form action='/choose_letter' method="POST">
    <div class='forms'>
    <input type='text' name='letter'>
    <input type='submit' />
        <br>
        <br>
        <br>
    </div>

</div>


{% endblock %}
