{% extends 'base.html' %}

{% block title %} Main page {% endblock %}


{% block content %}



<div class"row">
    <div class="col-xs-12 text">
        </span><h2>Bienvenido a Word Games!</h2>
        </span><h2>Welcome to Word Games!</h2>
        </span><h2>Bienvenue a Word Games!</h2>
        <br>
        <br>
        </span><h2>Please enter your name:</h2>
        <br>
        <br>
        <br>
    <form action='/explain_game' method="POST">
    <div class='forms'>
    <input type='text' name='player_name'>
    <input type='submit' />
    </span><h2>Let's have some fun!</h2>
        <br>
        <br>
        <br>
    </div>

</div>


{% endblock %}